<!doctype html>
<title>European option</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=page>
    <h1>{{ industry_type }}</h1>
    {% if type=='euro' %}
            {% for table,name in rr %}

       <h2>European option for {{name.upper()}}</h2>
        <a href="/api/v1/european/CSV/{{ name }}">csv download</a>
            {{ table|safe }}
                {% endfor %}
        {% endif %}

    {% if type!='euro' %}
            {% for table,name in rr %}
       <h2> Option for {{name.upper()}}</h2>
        <a href="/api/v1/european/CSV/{{ name }}">csv download</a>
            {{ table|safe }}
                {% endfor %}
        {% endif %}


</div>